.container_pets {
  min-height: 100vh;
  padding: 40px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;

  max-width: 1000px;
  margin: 0 auto;
}

.container_pets h2 {
  font-size: 34px;
  margin-bottom: 8px;
  color: rgb(15, 15, 15)
}

.container_pets > p {
  margin-bottom: 35px;
  color: #333;
}

.container_pets input {
  width: 100%;
  max-width: 665px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.container_pets button {
  padding: 12px 24px;
  margin-right: 10px;
  border-radius: 22px;
  border: 1px solid #0d0e0e;
  background-image: linear-gradient(to right,  #FBF2ED, #fac893 );
  color: #6e6e6e;
  font-weight: bold;
  cursor: pointer;
}

.container_pets button:hover {
  background: #f7913e;
  color: #fff;
}

.container_lista {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  max-width: 900px;
}

.card_pet {
  background: white;
  padding: 18px 22px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_pet h3 {
  font-size: 20px;
  color: #111;
  margin: 0 0 6px 0;
}

.card_pet p {
  color: #555;
  margin: 0;
  font-size: 14px;
}

/* NOVAS CLASSES */
.card_info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #eee;
  border: 3px solid #ff4d8d;
}

.card_actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.badge {
  background: #ff4d8d;
  color: white;
  padding: 7px 13px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.seta {
  color: #777;
  font-size: 14px;
}

.detalhes_pet {
  background: #f8f9fb;
  padding: 18px;
  border-radius: 0 0 14px 14px;
  margin-top: -8px;
  margin-bottom: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.detalhes_pet p {
  background: #f1f3f5;
  padding: 14px;
  border-radius: 8px;
  color: #555;
  margin-bottom: 18px;
}

.detalhes_pet h4 {
  margin-bottom: 12px;
  color: #333;
}

.detalhes_pet table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.detalhes_pet thead {
  background: #ff4d8d;
  color: white;
}

.detalhes_pet th,
.detalhes_pet td {
  padding: 12px;
  text-align: left;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}

.container_pets .whatsapp {
  background: #25d366;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

.container_pets .whatsapp:hover {
  background: #1ebe5d;
  color: white;
}